.container{
    margin: 27px auto;
    width: 70%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.order{
    display: none;
}

.serie {
    width: 310px;
    padding: 10px;
    margin: 0 0 20px 0;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#serie{
    display: inline-block;
    margin-right: 20px;
}

.serie .img-poster {
    width: 150px;
    height: 220px;
    overflow: hidden;
}

.serie .watched {
    width: 32px;
    position: absolute;
    margin: -260px 0 0 130px;
}

.serie img{
    width: 150px;
}

.serie .content{
    width: 150px;
    color: #1d1d1d;
}

.serie .content h1{
    font-size: 20px;
    font-family: Rubik;
    margin: 0 0 17px 0;
}

.content p{
    font-size: 13px;
}

.serie .content .about-content {
    margin: 0 0 17px 0;
}

.serie a{
    text-align: center;
    color: #1d1d1d;
    box-sizing: border-box;
}

span {
    color: #eb2429;
    font-weight: bold;
}
